In [ ]:
# Thống kê mô tả

# Thống kê suy luận -> Kiểm định giả thuyết

# Biết cách đặt ra giả thuyết
  # H0 (Null Hypothesis - Giả thuyết không)
  # H1 (Alternative Hypothesis - Giả thuyết thay thế)
  # Bác bỏ được giả thuyết không -> chứng minh được giả thuyết thay thế
  # Không bác bỏ được giả thuyết không -> chưa đủ bằng chứng để chứng minh giả thuyết thay thế
  # Để quyết định được là có bác bỏ hay không, nhìn vào p-value
    # p-value < 0.05 -> bác bỏ

# Giả thuyết so sánh: lớn hơn, nhỏ hơn, khác nhau
  # Kiểm định giả thuyết về giá trị trung bình
  # So sánh giá trị trung bình
  # So sánh cặp giá trị

# Giả thuyết tương quan
  # Định nghĩa tương quan: mối quan hệ giữa các biến
    # tương quan thuận: cùng tăng/cùng giảm
    # tương quan nghịch: nếu cái A tăng thì cái B giảm
  # Phương pháp kiểm định tương quan
    # Kiểm định tương quan giữa các biến định lượng (số) -> pearson
    # Kiểm định tương quan giữa các biến định tính
      # Biến định tính bình thường -> Chi-square (chi bình phương)
      # Biến định tính có thứ bậc -> Spearman

# Lý thuyết: Kiểm định tương quan giữa các thuộc tính định tính

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

## Định tính bình thường -> Dùng Chi Square

In [2]:
from scipy.stats import chi2_contingency

In [3]:
df = pd.read_csv('restaurant.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'restaurant.csv'

In [ ]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# Kiểm định tương quan giữa sex (giới tính) và smoker (có hút thuốc không)|

In [ ]:
# Đếm
pd.value_counts(df['sex'])

Male      157
Female     87
Name: sex, dtype: int64

In [ ]:
pd.value_counts(df['smoker'])

No     151
Yes     93
Name: smoker, dtype: int64

In [ ]:
df1 = pd.crosstab(df['sex'], df['smoker'])
df1

smoker  No  Yes
sex
Female  54   33
Male    97   60

In [ ]:
chi2_contingency(df1)

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[53.84016393, 33.15983607],
       [97.15983607, 59.84016393]]))

In [ ]:
# H0: không có tương quan
# H1: có tương quan
# p_value: xác suất H0 đúng -> p_value = 1 -> xác suất H0 đúng là 100%
# không đủ cơ sở để bác bỏ H0
# không đủ cơ sở để bác bỏ giả thuyết không có tương quan
# không đủ cơ sở để chứng minh giới tính và có hút thuốc hay không có tương quan.

## Định tính đo thứ bậc - Spearman

Bộ dữ liệu subset-covid-data.csv lưu thông tin về số ca nhiễm bệnh và số ca tử vong của các quốc gia trong ngày 12/4/2020.

Hãy xem giữa xếp hạng đông dân ở các quốc gia và số lượng ca mắc có tương quan với nhau hay không

In [5]:
df = pd.read_csv('subset-covid-data.csv')
df.head()

,country,continent,date,day,month,year,cases,deaths,country_code,population
0,Afghanistan,Asia,2020-04-12,12,4,2020,34,3,AFG,37172386.0
1,Albania,Europe,2020-04-12,12,4,2020,17,0,ALB,2866376.0
2,Algeria,Africa,2020-04-12,12,4,2020,64,19,DZA,42228429.0
3,Andorra,Europe,2020-04-12,12,4,2020,21,2,AND,77006.0
4,Angola,Africa,2020-04-12,12,4,2020,0,0,AGO,30809762.0

In [6]:
# Xem có tương quan giữa
# xếp hạng đông dân
# số lượng ca mắc covid
df2 = df[['population', 'cases']]
df2

     population  cases
0    37172386.0     34
1     2866376.0     17
2    42228429.0     64
3       77006.0     21
4    30809762.0      0
..          ...    ...
201  28870195.0      0
202  95540395.0      4
203  28498687.0      0
204  17351822.0      0
205  14439018.0      3

[206 rows x 2 columns]

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   population  202 non-null    float64
 1   cases       206 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 3.3 KB

In [8]:
df2 = df2.dropna()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 202 entries, 0 to 205
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   population  202 non-null    float64
 1   cases       202 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 4.7 KB

In [9]:
# xếp hạng dân số
# quantile
# 25% -> Q1 -> 25% dữ liệu nhỏ hơn hoặc bằng điểm tại Q1
# Q2
# Q3
q1 = df2['population'].quantile(0.25)
q2 = df2['population'].quantile(0.5)
q3 = df2['population'].quantile(0.75)

In [10]:
q3

26000835.25

In [12]:
# tiến hành phân bậc dân số
# dân số < q1 -> bậc 1
# dân số >= q1 và nhỏ hơn q2 -> bậc 2
# dân số >= q2 và nhỏ hơn q3 -> bậc 3
# dân số >= q3 -> bậc 4

def population_rank(population):
  if population < q1:
    return 1
  elif population >= q1 and population < q2:
    return 2
  elif population >= q2 and population < q3:
    return 3
  else:
    return 4

df2['population_rank'] = df2['population'].apply(population_rank)

/var/folders/7b/s694fx0d6wb04bgqp_b182140000gn/T/ipykernel_5178/2967222563.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['population_rank'] = df2['population'].apply(population_rank)

In [13]:
df2

     population  cases  population_rank
0    37172386.0     34                4
1     2866376.0     17                2
2    42228429.0     64                4
3       77006.0     21                1
4    30809762.0      0                4
..          ...    ...              ...
201  28870195.0      0                4
202  95540395.0      4                4
203  28498687.0      0                4
204  17351822.0      0                3
205  14439018.0      3                3

[202 rows x 3 columns]

In [14]:
# có tương quan giữa số ca mắc bênh (cases) và xếp hạng dân số (population_rank) không
stats.spearmanr(df2['cases'], df2['population_rank'])

SignificanceResult(statistic=0.49498466493711596, pvalue=6.982786622314858e-14)

In [ ]:
# pvalue=6.982786622314858e-14 ->
# có tương quan

# Thực hành: Kiểm định tương quan trên bộ dữ liệu Covid 19

Bộ dữ liệu subset-covid-data.csv chứa thông tin về tình hình covid ngày 12/4/2020.

Hãy thực hiện những kiểm định sau với mức ý nghĩa 5%:

- Có mối tương quan nào giữa dân số và số ca nhiễm bệnh hay không

- Có mối tương quan nào giữa số ca mắc và ca tử vong ở các quốc gia hay không

- Hãy tiến hành rời rạc hóa thuộc tính population thành các nhóm theo thứ tự tăng dần đặt tên là biến population_ordinal:

  1: nếu population < tứ phân vị thứ nhất

  2: Population nằm trong khoảng từ tứ phân vị thứ nhất tới tứ phân vị thứ 2

  3: nếu population nằm trong khoảng từ tứ phân vị thứ 2 tới thứ 3

  4: nếu population >= tứ phân vị thứ 3

In [15]:
# có tương quan giữa dân số và số ca nhiễm bệnh không
df1 = df[['population', 'cases']]
df1 = df1.dropna()
stats.pearsonr(df1['population'], df1['cases'])

PearsonRResult(statistic=0.17553926594294, pvalue=0.01246031070420835)

In [ ]:
# có tương quan: vì pvalue = 0.012 < 0.05

In [16]:
df.head()

,country,continent,date,day,month,year,cases,deaths,country_code,population
0,Afghanistan,Asia,2020-04-12,12,4,2020,34,3,AFG,37172386.0
1,Albania,Europe,2020-04-12,12,4,2020,17,0,ALB,2866376.0
2,Algeria,Africa,2020-04-12,12,4,2020,64,19,DZA,42228429.0
3,Andorra,Europe,2020-04-12,12,4,2020,21,2,AND,77006.0
4,Angola,Africa,2020-04-12,12,4,2020,0,0,AGO,30809762.0

In [17]:
# có tương quan giữa số ca mắc và số ca tử vong không
df2 = df[['cases', 'deaths']]
df2 = df2.dropna()
stats.pearsonr(df['cases'], df['deaths'])

PearsonRResult(statistic=0.9432201374746729, pvalue=1.345194874583873e-99)

In [ ]:
# pvalue = 1.34e-99 = 0.00000...000 < 0.05 -> có tương quan